<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let course of courses">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="course.image" alt="{{ course.name }} Image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ course.name }}</h2>
          <p>{{ course.description }}</p>
          <ion-note slot="end">{{ course.enrolled }} matriculados</ion-note>
        </ion-label>
      </ion-item>
      <ion-button expand="full" color="primary" [routerLink]="['/current-course']" [queryParams]="{ course: JSON.stringify(course) }">
        Ver más
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
