<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ course?.name }}</ion-title> <!-- Use safe navigation operator -->
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="current-course-content">
  <div class="background-pattern">
    <img src="assets/images/fondo.png" alt="Background Pattern" class="background-fill" />
  </div>

  <div class="course-details">
    <ion-card *ngIf="course" class="course-card">
      <ion-item lines="none">
        <ion-thumbnail class="course-thumbnail">
          <img [src]="course.image" alt="{{ course.name }} Image" class="course-image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ course.name }}</h2>
          <p>{{ course.description }}</p>
        </ion-label>
      </ion-item>
      <div class="button-group">
        <ion-button color="medium" (click)="goBack()">Cancelar</ion-button>
        <ion-button color="danger" (click)="enrollCourse()">Inscribir</ion-button>
      </div>
    </ion-card>
  </div>

  <img src="assets/images/logo2.png" alt="App Logo" class="app-logo" />
</ion-content>
