.card-container {
    padding: 20px;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  
    p {
      color: #888;
    }
  
    a {
      color: #3880ff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  